In [8]:
# !pip install scipy

x = (121, 143, 178, 283, 103, 172)

from scipy.stats import chisquare
chisquare(x)

Power_divergenceResult(statistic=122.336, pvalue=1.0042253768621262e-24)

In [35]:
# alternatively
chisquare([2503, 1364, 1742, 1853, 956,1582])

Power_divergenceResult(statistic=806.2027999999999, pvalue=5.264857995888828e-172)

In [3]:
# %pip install pandas
import pandas as pd

df_accounts_payable = pd.read_csv("case1_accountspayable.csv", sep = ";", encoding = "UTF-8")
#pd.read_csv("case1_accountspayable.csv", sep = ";", encoding = "UTF-8")

In [4]:
df_accounts_payable

,Creditor_ID,Firm,Street,HouseNr.,City,Postcode,Country
0,1,Workflow GmbH,Berlinerstraße,12,Berlin,10115,Germany
1,2,Consulting_solutions,Elysees,11,Montord,33452,France
2,3,Consulting_regulations,Prugne,73,Cesset,24532,France
3,4,IT_Solutions,Maximilianstraße,11,Munich,80331,Germany
4,5,Governance GmbH,Frankstraße,75,Munich,80332,Germany
5,6,Business_Partnership,Rue de Grivats,60,Lyon,53522,France
6,7,Clera,Chemin,59,Paris,75000,France
7,8,Carbon,Hornerstraße,52,Hamburg,20090,Germany
8,9,Bon app',Gouzol,2,Beauron,67976,France
9,10,Bottom-Dollar Marketse,Robin,51,Lyon,53454,France
10,11,Kraft GmbH,Theodorstraße,70,Deggendorf,94469,Germany
11,12,EDF,de L'Est,14,Marseille,78654,France
12,13,Centro comercial,Curie,17,Saint Bonnet,54766,France
13,14,IFS international,Chauvais,39,Bezenet,89459,France
14,15,Commercial Partners,Berlinerstraße,83,Berlin,10342,Germany
15,16,ABBS,de Halage,24,Lyon,53868,France
16,17,Enterprise,Alier,50,Paris,75086,France
17,18,Lovala GmbH,Zugstraße,42,Berlin,10990,Germany
18,19,Eastern Connection,Brules,31,Maginer,54677,France
19,20,Ernst Trade,Ferrieres,54,Puits Neuf,89653,France
20,21,Work-flow_GmbH,Berlinerstraße,12,Berlin,10115,Germany

In [4]:
df_transactions = pd.read_csv("case1_transactions.csv", sep = ";",
                            decimal = ",", encoding = "UTF-8")

df_accounts_receivable = pd.read_csv("case1_accountsreceivable.csv", sep = ";",
                                   encoding = "UTF-8")

df_bank_accounts = pd.read_csv("case1_bankaccounts.csv", sep = ";",
                             encoding = "UTF-8")

In [6]:

type(df_accounts_payable)

pandas.core.frame.DataFrame

In [7]:

# Print first five rows of `df.accounts_payable`
df_accounts_payable.head(5)

,Creditor_ID,Firm,Street,HouseNr.,City,Postcode,Country
0,1,Workflow GmbH,Berlinerstraße,12,Berlin,10115,Germany
1,2,Consulting_solutions,Elysees,11,Montord,33452,France
2,3,Consulting_regulations,Prugne,73,Cesset,24532,France
3,4,IT_Solutions,Maximilianstraße,11,Munich,80331,Germany
4,5,Governance GmbH,Frankstraße,75,Munich,80332,Germany

In [9]:

df_accounts_payable.describe()

       Creditor_ID   HouseNr.      Postcode
count    21.000000  21.000000     21.000000
mean     11.000000  40.095238  53375.380952
std       6.204837  25.125495  29396.611579
min       1.000000   2.000000  10115.000000
25%       6.000000  14.000000  24532.000000
50%      11.000000  42.000000  54677.000000
75%      16.000000  59.000000  78654.000000
max      21.000000  83.000000  94469.000000

In [10]:

df_accounts_payable.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Creditor_ID  21 non-null     int64
 1   Firm         21 non-null     object
 2   Street       21 non-null     object
 3   HouseNr.     21 non-null     int64
 4   City         21 non-null     object
 5   Postcode     21 non-null     int64
 6   Country      21 non-null     object
dtypes: int64(3), object(4)
memory usage: 1.3+ KB

In [22]:
df_accounts_payable.shape # dimension

(21, 7)

In [24]:
df_accounts_payable.columns

Index(['Creditor_ID', 'Firm', 'Street', 'HouseNr.', 'City', 'Postcode',
       'Country'],
      dtype='object')

In [26]:
df_accounts_payable.values

array([[1, 'Workflow GmbH', 'Berlinerstraße', 12, 'Berlin', 10115,
        'Germany'],
       [2, 'Consulting_solutions', 'Elysees', 11, 'Montord', 33452,
        'France'],
       [3, 'Consulting_regulations', 'Prugne', 73, 'Cesset', 24532,
        'France'],
       [4, 'IT_Solutions', 'Maximilianstraße', 11, 'Munich', 80331,
        'Germany'],
       [5, 'Governance GmbH', 'Frankstraße', 75, 'Munich', 80332,
        'Germany'],
       [6, 'Business_Partnership', 'Rue de Grivats', 60, 'Lyon', 53522,
        'France'],
       [7, 'Clera', 'Chemin ', 59, 'Paris', 75000, 'France'],
       [8, 'Carbon', 'Hornerstraße', 52, 'Hamburg', 20090, 'Germany'],
       [9, "Bon app'", 'Gouzol', 2, 'Beauron', 67976, 'France'],
       [10, 'Bottom-Dollar Marketse', 'Robin', 51, 'Lyon', 53454,
        'France'],
       [11, 'Kraft GmbH', 'Theodorstraße', 70, 'Deggendorf', 94469,
        'Germany'],
       [12, 'EDF', "de L'Est", 14, 'Marseille', 78654, 'France'],
       [13, 'Centro comercial', 'Curie', 17, 'Saint Bonnet', 54766,
        'France'],
       [14, 'IFS international', 'Chauvais', 39, 'Bezenet', 89459,
        'France'],
       [15, 'Commercial Partners', 'Berlinerstraße', 83, 'Berlin', 10342,
        'Germany'],
       [16, 'ABBS', 'de Halage', 24, 'Lyon', 53868, 'France'],
       [17, 'Enterprise ', 'Alier', 50, 'Paris', 75086, 'France'],
       [18, 'Lovala GmbH', 'Zugstraße', 42, 'Berlin', 10990, 'Germany'],
       [19, 'Eastern Connection', 'Brules', 31, 'Maginer', 54677,
        'France'],
       [20, 'Ernst Trade', 'Ferrieres', 54, 'Puits Neuf', 89653,
        'France'],
       [21, 'Work-flow_GmbH', 'Berlinerstraße', 12, 'Berlin', 10115,
        'Germany']], dtype=object)

In [ ]:

# Print first five rows of `df.accounts_payable`
df_accounts_payable.head(5)

,Creditor_ID,Firm,Street,HouseNr.,City,Postcode,Country
0,1,Workflow GmbH,Berlinerstraße,12,Berlin,10115,Germany
1,2,Consulting_solutions,Elysees,11,Montord,33452,France
2,3,Consulting_regulations,Prugne,73,Cesset,24532,France
3,4,IT_Solutions,Maximilianstraße,11,Munich,80331,Germany
4,5,Governance GmbH,Frankstraße,75,Munich,80332,Germany

In [25]:
df_transactions['Date'].dtypes

dtype('<M8[ns]')

In [13]:
df_transactions['Date']

0      01.01.2018
1      01.01.2018
2      03.01.2018
3      04.01.2018
4      04.01.2018
          ...
102    04.04.2018
103    05.04.2018
104    06.04.2018
105    07.04.2018
106    08.04.2018
Name: Date, Length: 107, dtype: object

In [14]:
df_transactions['Date'] = pd.to_datetime(df_transactions['Date'], format='%d.%m.%Y')

In [15]:
df_transactions['Date']

0     2018-01-01
1     2018-01-01
2     2018-01-03
3     2018-01-04
4     2018-01-04
         ...
102   2018-04-04
103   2018-04-05
104   2018-04-06
105   2018-04-07
106   2018-04-08
Name: Date, Length: 107, dtype: datetime64[ns]

In [17]:
import datetime
df_transactions['DayOfTheWeek'] = df_transactions['Date'].dt.day_name()

In [19]:
df_transactions['DayOfTheWeek']

0         Monday
1         Monday
2      Wednesday
3       Thursday
4       Thursday
         ...
102    Wednesday
103     Thursday
104       Friday
105     Saturday
106       Sunday
Name: DayOfTheWeek, Length: 107, dtype: object

In [34]:
df_transactions['Booking_ID'].count()

107

In [ ]:
df_transactions['Reminders'] = df_transactions['Reminders'].replace('-', '0')

In [ ]:
df_transactions['Reminders'] = df_transactions['Reminders'].astype(str).astype(int)

In [ ]:
df_transactions.AccNr_Debit == 1000

In [15]:
df_cash_book = df_transactions[(df_transactions.AccNr_Debit == 1000) | (df_transactions.AccNr_Credit == 1000)]

In [130]:
df_cash_book.head()

,Booking_ID,Debitor_ID,Creditor_ID,Product_ID,AccNr_Debit,AccNr_Credit,Value,Date,Time,PaymentTarget,Paid,Reminders,DayOfTheWeek
3,4,9,-,5,1000,8000,182.40,2018-01-04,00:26,-,yes,-,Thursday
5,6,-,11,-,5100,1000,193.33,2018-01-05,13:14,-,yes,-,Friday
6,7,13,-,5,1000,8000,364.80,2018-01-06,10:57,-,yes,-,Saturday
9,10,-,11,-,5100,1000,245.56,2018-01-07,15:21,-,yes,-,Sunday
13,14,18,-,1,1000,8000,1123.12,2018-01-09,22:23,-,yes,-,Tuesday

In [ ]:
df_accounts_receivable.columns

In [38]:
df_bank_accounts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Bank_ID      31 non-null     int64
 1   Creditor_ID  31 non-null     int64
 2   Bankname     31 non-null     object
 3   CountryKey   31 non-null     object
 4   VerifCode    31 non-null     int64
 5   BankKey      31 non-null     int64
 6   SectorCode   31 non-null     object
 7   BankAccNr    31 non-null     int64
 8   CheckDigit   31 non-null     object
dtypes: int64(5), object(4)
memory usage: 2.3+ KB

In [53]:
df_bank_accounts.columns

6

In [66]:
df_bank_accounts['Bankname'].nunique() # banks in the data set

6

In [73]:
df_bank_accounts['SectorCode'].str.isnumeric().value_counts() #num of entries that are number and entries are not number

True     20
False    11
Name: SectorCode, dtype: int64

In [79]:
df_bank_accounts['SectorCode'] = df_bank_accounts['SectorCode'].replace('-', '0')

In [81]:
df_bank_accounts['SectorCode'] = df_bank_accounts['SectorCode'].astype(str).astype(int)
df_bank_accounts['SectorCode']

11

In [ ]:
#count numbers of sectorCode with value 0
df_bank_accounts['SectorCode'][(df_bank_accounts['SectorCode'].values == 0)].count()

In [85]:
df_accounts_receivable_banks = df_bank_accounts.merge(df_accounts_receivable, how = 'inner', 
                                                      left_on = 'Creditor_ID', right_on = 'Creditor_ID')

In [86]:
df_accounts_receivable_banks.head(3)

,Bank_ID,Creditor_ID,Bankname,CountryKey,VerifCode,BankKey,SectorCode,BankAccNr,CheckDigit,Firm,Street,HouseNr.,City,Postcode,Country
0,1,1,Sparkasse,DE,44,85708525,0,9092573071,-,Workflow GmbH,Berlinerstraße,12,Berlin,10115,Germany
1,2,1,Sparkasse,DE,27,34010441,0,1517137596,-,Workflow GmbH,Berlinerstraße,12,Berlin,10115,Germany
2,3,2,BGFI,FR,29,53954085,12914,93097,31,Consulting_solutions,Elysees,11,Montord,33452,France

In [114]:

df_transactions_thursday = df_transactions[(df_transactions['DayOfTheWeek'] == 'Thursday') & (df_transactions['Creditor_ID'] != '-')]
df_transactions_thursday['Value']

15     5431.0
30      532.0
37     1123.0
52     2153.0
74    63452.6
Name: Value, dtype: float64

In [106]:
df_transactions_SatSun = df_transactions[(df_transactions['DayOfTheWeek'] == 'Saturday') | (df_transactions['DayOfTheWeek'] == 'Sunday')]
numSatSun = df_transactions_SatSun.count()
numSatSun

Booking_ID       34
Debitor_ID       34
Creditor_ID      34
Product_ID       34
AccNr_Debit      34
AccNr_Credit     34
Value            34
Date             34
Time             34
PaymentTarget    34
Paid             34
Reminders        34
DayOfTheWeek     34
dtype: int64

In [108]:
df_transactions_MonTue = df_transactions[(df_transactions['DayOfTheWeek'] == 'Monday') | (df_transactions['DayOfTheWeek'] == 'Tuesday')]
numMonTue = df_transactions_MonTue.count()
numMonTue

Booking_ID       27
Debitor_ID       27
Creditor_ID      27
Product_ID       27
AccNr_Debit      27
AccNr_Credit     27
Value            27
Date             27
Time             27
PaymentTarget    27
Paid             27
Reminders        27
DayOfTheWeek     27
dtype: int64

In [109]:
print(numSatSun > numMonTue)

Booking_ID       True
Debitor_ID       True
Creditor_ID      True
Product_ID       True
AccNr_Debit      True
AccNr_Credit     True
Value            True
Date             True
Time             True
PaymentTarget    True
Paid             True
Reminders        True
DayOfTheWeek     True
dtype: bool

In [118]:
df_transactions_sundays = df_transactions[df_transactions['DayOfTheWeek'] == "Sunday"]
df_transactions_sundays.describe()

       Booking_ID  AccNr_Debit  AccNr_Credit         Value
count   15.000000    15.000000     15.000000     15.000000
mean    54.266667  2346.666667   4933.333333   8860.498000
std     33.533494  1483.657001   3398.879367  20306.282701
min     10.000000  1000.000000   1000.000000      3.800000
25%     23.500000  1200.000000   1600.000000     62.995000
50%     56.000000  1200.000000   8000.000000    432.000000
75%     81.500000  3200.000000   8000.000000   4121.500000
max    107.000000  5100.000000   8000.000000  76443.600000

In [189]:
df_transactions_nights = df_transactions[(df_transactions['Time'] >= "22:00") | (df_transactions['Time'] <= "04:00")]
df_transactions_nights.Time.count()

29

In [111]:
df_bank_accounts['BankKey'].value_counts()

85708525    2
80060105    1
85075846    1
70190317    1
67849978    1
13305079    1
60663501    1
39224119    1
84916907    1
60328424    1
53954085    1
57035299    1
36415266    1
41150049    1
29603999    1
26510366    1
58846743    1
63926808    1
79220247    1
18824792    1
26188756    1
87524535    1
49762129    1
48333215    1
24845261    1
99484170    1
34010441    1
40728840    1
45334492    1
80459903    1
Name: BankKey, dtype: int64

In [119]:
summe = 0
for i in range(0,10):
  summe += df_transactions.Value[i]
  print(summe)

33.4
155.4
177.84
360.24
603.44
796.7700000000001
1161.5700000000002
1179.13
4410.13
4655.6900000000005

In [123]:
df_transactions.Value
df_transactions.Value.cumsum()

0          33.40
1         155.40
2         177.84
3         360.24
4         603.44
         ...
102    445945.44
103    445963.00
104    446012.99
105    447135.99
106    447185.98
Name: Value, Length: 107, dtype: float64

In [ ]:
d = 0
for i in range(0,5):
  d = d + df_transactions.Value[i]
  print(d)

In [ ]:
df_transactions.Value.cumsum()

In [124]:

a = 20
print("Hans is",a,"years old")

Hans is 20 years old

In [125]:

b = ["Hans is ", "20" ," years old"]
"".join(b)

'Hans is 20 years old'

In [126]:

a = 3

if a == 3:
    z = a + 3

print(z)

6

In [16]:
df_cash_book = df_cash_book.reset_index(drop = True)

In [17]:
c = 0

for i in range(0, len(df_cash_book)):

    if df_cash_book.AccNr_Credit[i] == 1000:
        df_cash_book.loc[i, 'Value'] = df_cash_book.Value[i]*(-1)
  

    c = c + df_cash_book.Value[i]
    df_cash_book.loc[i, 'cumul'] = c
print("Cash register was ", sum(df_cash_book.cumul < 0), "times in minus.")
#print("Cash register was ", df_cash_book['cumul'][df_cash_book.cumul < 0].count(), "times in minus.")

Cash register was  5 times in minus.

In [177]:

df_cash_book[df_cash_book.cumul < 0]

,Booking_ID,Debitor_ID,Creditor_ID,Product_ID,AccNr_Debit,AccNr_Credit,Value,Date,Time,PaymentTarget,Paid,Reminders,DayOfTheWeek,cumul
1,6,-,11,-,5100,1000,-193.33,2018-01-05,13:14,-,yes,-,Friday,-10.93
5,20,-,11,-,5100,1000,-1500.00,2018-01-14,16:33,-,yes,-,Sunday,-268.57
6,22,2,-,8,1000,8000,33.40,2018-01-16,22:46,-,yes,-,Tuesday,-235.17
7,25,11,-,2,1000,8000,17.56,2018-01-18,03:32,-,yes,-,Thursday,-217.61
8,34,10,-,9,1000,8000,3.80,2018-01-28,16:24,-,yes,-,Sunday,-213.81

In [180]:
BankAccNr_duplicates1 = df_accounts_receivable_banks.loc[df_accounts_receivable_banks.BankAccNr.duplicated(), 'BankAccNr']
BankAccNr_duplicates = df_accounts_receivable_banks.loc[df_accounts_receivable_banks.BankAccNr.duplicated(), 'BankAccNr']

In [181]:
BankAccNr_duplicates

30    9092573071
Name: BankAccNr, dtype: int64

In [182]:
df_accounts_receivable_banks['BankAccNr'].isin(BankAccNr_duplicates)

0      True
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30     True
Name: BankAccNr, dtype: bool

In [183]:
df_accounts_receivable_banks[df_accounts_receivable_banks['BankAccNr'].isin(BankAccNr_duplicates)]

,Bank_ID,Creditor_ID,Bankname,CountryKey,VerifCode,BankKey,SectorCode,BankAccNr,CheckDigit,Firm,Street,HouseNr.,City,Postcode,Country
0,1,1,Sparkasse,DE,44,85708525,0,9092573071,-,Workflow GmbH,Berlinerstraße,12,Berlin,10115,Germany
30,31,21,Sparkasse,DE,44,85708525,0,9092573071,-,Work-flow_GmbH,Berlinerstraße,12,Berlin,10115,Germany

In [184]:
# Alternative
df_accounts_receivable_banks[df_accounts_receivable_banks.BankAccNr.duplicated()]
# Note: indicates only the dupplicate!

,Bank_ID,Creditor_ID,Bankname,CountryKey,VerifCode,BankKey,SectorCode,BankAccNr,CheckDigit,Firm,Street,HouseNr.,City,Postcode,Country
30,31,21,Sparkasse,DE,44,85708525,0,9092573071,-,Work-flow_GmbH,Berlinerstraße,12,Berlin,10115,Germany

In [185]:

help(pd.Series.isin)

Help on function isin in module pandas.core.series:

isin(self, values) -> 'Series'
    Whether elements in Series are contained in `values`.

    Return a boolean Series showing whether each element in the Series
    matches an element in the passed sequence of `values` exactly.

    Parameters
    ----------
    values : set or list-like
        The sequence of values to test. Passing in a single string will
        raise a ``TypeError``. Instead, turn a single string into a
        list of one element.

    Returns
    -------
    Series
        Series of booleans indicating if each element is in values.

    Raises
    ------
    TypeError
      * If `values` is a string

    See Also
    --------
    DataFrame.isin : Equivalent method on DataFrame.

    Examples
    --------
    >>> s = pd.Series(['lama', 'cow', 'lama', 'beetle', 'lama',
    ...                'hippo'], name='animal')
    >>> s.isin(['cow', 'lama'])
    0     True
    1     True
    2     True
    3    False
    4     True
    5    False
    Name: animal, dtype: bool

    Passing a single string as ``s.isin('lama')`` will raise an error. Use
    a list of one element instead:

    >>> s.isin(['lama'])
    0     True
    1    False
    2     True
    3    False
    4     True
    5    False
    Name: animal, dtype: bool

    Strings and integers are distinct and are therefore not comparable:

    >>> pd.Series([1]).isin(['1'])
    0    False
    dtype: bool
    >>> pd.Series([1.1]).isin(['1.1'])
    0    False
    dtype: bool

In [240]:

# Conversion float to integer
df_transactions.Value
INT = df_transactions.Value.astype(int)
INT

0        33
1       122
2        22
3       182
4       243
       ...
102      22
103      17
104      49
105    1123
106      49
Name: Value, Length: 107, dtype: int64

In [192]:

# filter precomma digit

DigitBeforeComma = pd.DataFrame(map(int, [str(x)[-1] for x in INT]))
DigitBeforeComma.head()

   0
0  3
1  2
2  2
3  2
4  3

In [195]:

# Count absolute frequencies

H_DigitBeforeComma = DigitBeforeComma.value_counts()

In [196]:

H_DigitBeforeComma

3    31
2    23
6    12
7    11
9    11
5     6
1     5
4     3
8     3
0     2
dtype: int64

In [197]:

# Carry out Chi-square-test
chisquare(H_DigitBeforeComma)

Power_divergenceResult(statistic=76.08411214953271, pvalue=9.650328851395323e-13)

In [253]:
df_transactions.Value

0        33.40
1       122.00
2        22.44
3       182.40
4       243.20
        ...
102      22.44
103      17.56
104      49.99
105    1123.00
106      49.99
Name: Value, Length: 107, dtype: float64

In [10]:
# filter first digit after decimal point
AfterDecimal = df_transactions['Value']*10
AfterDecimal = AfterDecimal.astype(int)
firstAfterDecimal = pd.DataFrame(map(int, [str(x)[-1] for x in AfterDecimal]))
firstAfterDecimal.head()

   0
0  4
1  0
2  4
3  4
4  2

In [11]:
freq_FirstDig = firstAfterDecimal.value_counts()

<!--
 Copyright 2022 XinGuan
 
 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at
 
     http://www.apache.org/licenses/LICENSE-2.0
 
 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->

In [12]:
chisquare(freq_FirstDig)

Power_divergenceResult(statistic=119.44859813084113, pvalue=1.732664729994546e-21)

Check leading digit for Benford distribution

In [198]:
import matplotlib.pyplot as plt
import math 
import numpy as np
numbers = np.arange(1,10)
Probs = []
for x in numbers: Probs.append(math.log10(1 + 1/x))

In [199]:
np.arange(len(numbers))

array([0, 1, 2, 3, 4, 5, 6, 7, 8])

In [200]:
Probs

[0.3010299956639812,
 0.17609125905568124,
 0.12493873660829993,
 0.09691001300805642,
 0.07918124604762482,
 0.06694678963061322,
 0.05799194697768673,
 0.05115252244738129,
 0.04575749056067514]

In [206]:
    
chisquare(f_obs = H_FirstDigit[0], f_exp = Probs)

Power_divergenceResult(statistic=14.45619805497751, pvalue=0.07062274443468691)

Consider booking values in 'df_transactions.Value'. Test the null hypothesis "H0: The distribution of the first digit of transaction values greater than 100 follows a Benford distribution" with a Chi square test. Specify the values provided by the corresponding Python output

In [229]:
# Knowledge test case 1 D
INT_greater100 = df_transactions.Value[df_transactions['Value']>100.00] 
#INT_greater100 = INT_greater100.astype(int)
INT_greater100

1        122.00
3        182.40
4        243.20
5        193.33
6        364.80
         ...
93     11223.00
94      1368.00
98       126.99
100      122.00
105     1123.00
Name: Value, Length: 62, dtype: float64

In [201]:
import plotly.io as pio
import plotly.express as px
fig = px.histogram(x = numbers, y = Probs, nbins = 9, histnorm ='probability density',
                  category_orders=dict(day=["1", "2", "3", "4", "5", "6", "7", "8", "9"]))
fig.update_layout(bargap=0.1)
fig

In [202]:
FirstDigit = pd.DataFrame(map(int, [str(x)[0] for x in INT]))
FirstDigit

     0
0    3
1    1
2    2
3    1
4    2
..  ..
102  2
103  1
104  4
105  1
106  4

[107 rows x 1 columns]

In [216]:
H_FirstDigit = pd.DataFrame(FirstDigit.value_counts().sort_index())

In [217]:

H_FirstDigit.loc[9,0] = 0

In [228]:
FirstDigit_greater100 = pd.DataFrame(map(int, [str(x)[0] for x in INT_greater100]))
FirstDigit_greater100

    0
0   1
1   1
2   2
3   1
4   3
.. ..
57  1
58  1
59  1
60  1
61  1

[62 rows x 1 columns]

In [218]:
H_FirstDigit[0]

1    30.0
2    12.0
3    15.0
4    15.0
5    12.0
6     9.0
7    10.0
8     4.0
9     0.0
Name: 0, dtype: float64

In [236]:
freq_firstDigGreater100 = pd.DataFrame(FirstDigit_greater100.value_counts().sort_index())
freq_firstDigGreater100.loc[9,0] = 0
freq_firstDigGreater100[0]

1    22.0
2     6.0
3     4.0
4     4.0
5    12.0
6     8.0
7     2.0
8     4.0
9     0.0
Name: 0, dtype: float64

In [238]:

Probs_greater100 = []
for x in numbers: Probs_greater100.append(math.log10(1 + 1/x))
for i in range(0, len(Probs_greater100)):
    Probs_greater100[i] = Probs_greater100[i] * len(FirstDigit_greater100)
Probs_greater100

[18.663859731166834,
 10.917658061452236,
 7.746201669714596,
 6.008420806499498,
 4.909237254952739,
 4.15070095709802,
 3.595500712616577,
 3.17145639173764,
 2.8369644147618587]

In [239]:
chisquare(f_obs = freq_firstDigGreater100[0], f_exp=Probs_greater100)

Power_divergenceResult(statistic=22.867382781613838, pvalue=0.0035387498663053355)